* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

img {
    border-radius: 25px;
}

.main-container {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0px 200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.navigation-style {
    font-size: 18px;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
}

.button {
    background-color: #3882F6;
    font-family: "Roboto", sans-serif;
    color: white;
    border-radius: 5px;
    transition-duration: 0.4s;
    width: 100px;
    font-weight: 900;
    padding: 8px;
    margin-top: 10px;
    border: none;
}

.button:hover {
    background-color: #1964dd;
}




.navigation-bar,
.left-navigation,
.left-navigation {
    display: flex;
    gap: 20px;
}

.navigation-bar {
    justify-content: space-between;
    align-items: center;
    height: fit-content;
}

.left-navigation {
    align-items: center;
}

.welcome {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 100px;
}

.main-section {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 18px;
    gap: 5px;
}

.hero-main {
    font-size: 48px;
    margin: 0;
}

.hero-secondary {
    color: #E5E7EB;
}